<div class="row">
  <div class="card-panel darken-1 valign-wrapper">
    <div class="card-content blue-text">

      <div class="col m4">

        <div class="card darken-1 hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Characters<i class="material-icons right">more_vert</i></span>
            <p><a href="">This is a link</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>

      </div>

      <div class="col m4">
        <div class="card-panel darken-1 hoverable">
          <div class="card-content blue-text">
            <span class="card-title">Films</span>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card-panel darken-1 hoverable">
          <div class="card-content blue-text">
            <span class="card-title">Planets</span>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card-panel darken-1 hoverable">
          <div class="card-content blue-text">
            <span class="card-title">Species</span>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card-panel darken-1 hoverable">
          <div class="card-content blue-text">
            <span class="card-title">Starships</span>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card-panel darken-1 hoverable">
          <div class="card-content blue-text">
            <span class="card-title">Vehicles</span>

            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<md-card>

  <md-card-title>Choose a resource</md-card-title>

  <md-card-content>

    <md-card>
      <md-card-title>Characters</md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('characters')">GO</button>
      </md-card-actions>
    </md-card>

    <br>

    <md-card>
      <md-card-title>
        <md-card-title-text>Films</md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('films')">GO</button>
      </md-card-actions>
    </md-card>

    <br>

    <md-card>
      <md-card-title>
        <md-card-title-text>Planets</md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('planets')">GO</button>
      </md-card-actions>
    </md-card>

    <br>

    <md-card>
      <md-card-title>
        <md-card-title-text>Species</md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('species')">GO</button>
      </md-card-actions>
    </md-card>

    <br>

    <md-card>
      <md-card-title>
        <md-card-title-text>Starships</md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('starships')">GO</button>
      </md-card-actions>
    </md-card>

    <br>

    <md-card>
      <md-card-title>
        <md-card-title-text>Vehicles</md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <button md-raised-button color="primary" (click)="goTo('vehicles')">GO</button>
      </md-card-actions>
    </md-card>

  </md-card-content>

  <md-card-actions layout="row" layout-align="end center">
    <button md-raised-button color="primary" (click)="goHome()">Back</button>
  </md-card-actions>

</md-card>
